# 1. Download features

In [1]:
conn = "postgresql://robot-startml-ro:pheiph0hahj1Vaif@postgres.lab.karpov.courses:6432/startml"
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [ ]:
liked_posts = pd.read_sql(
        """SELECT user_id, post_id, action, ROW_NUMBER()
        OVER(PARTITION BY user_id) AS order
        FROM public.feed_data
        WHERE action = 'like' 
        LIMIT 100""",
        con = conn)
liked_posts.head(20)

In [3]:
data = pd.read_sql(
    """SELECT u.user_id, f.post_id
    FROM user_data u 
    LEFT JOIN LATERAL (SELECT *,
    ROW_NUMBER() OVER(PARTITION BY user_id) AS order
    FROM feed_data WHERE action = 'like') f on u.user_id = f.user_id
    WHERE f.order <= 10 """,
    con=conn
)
data.head()

   user_id  post_id
0      201     7110
1      201     3091
2      201     5028
3      201       48
4      201     3455

In [12]:
data.shape

(1615528, 2)

In [2]:
posts_features = pd.read_sql(
    """SELECT * FROM bruhwalkk_post_features_22 """, con=conn)
    
user_features = pd.read_sql(
        """SELECT * FROM public.user_data """, con = conn)

In [13]:
posts_features.head()

,index,post_id,text,topic,SVD_0,SVD_1,SVD_2,SVD_3,SVD_4,SVD_5,...,SVD_59,SVD_60,SVD_61,SVD_62,SVD_63,SVD_64,SVD_65,SVD_66,SVD_67,SVD_68
0,0,1,UK economy facing major risks\n\nThe UK manufa...,business,0.144598,0.127720,0.165153,-0.018751,-0.106465,-0.138568,...,-0.027962,-0.001623,-0.020337,-0.002202,0.052598,-0.020827,-0.038098,-0.007991,0.007010,-0.006334
1,1,2,Aids and climate top Davos agenda\n\nClimate c...,business,0.179106,0.156255,0.187888,0.067152,0.043229,-0.033466,...,0.011068,0.010396,0.012700,0.028378,-0.053540,-0.028347,0.010531,-0.036390,0.018848,-0.031581
2,2,3,Asian quake hits European shares\n\nShares in ...,business,0.148952,0.101760,0.119559,-0.023431,-0.095791,-0.136440,...,0.037819,0.025957,-0.002094,0.009746,-0.066623,-0.073752,0.017350,-0.031218,0.011270,-0.010331
3,3,4,India power shares jump on debut\n\nShares in ...,business,0.100664,0.095318,0.102661,-0.004557,-0.059734,-0.105082,...,-0.040279,0.026497,0.013740,0.011543,0.070482,-0.002659,0.012163,-0.010069,0.000785,0.017165
4,4,5,Lacroix label bought by US firm\n\nLuxury good...,business,0.079008,0.054728,0.072207,-0.002478,-0.026706,-0.046023,...,-0.011579,0.008799,0.009975,-0.013124,0.018852,0.005172,-0.047478,0.002118,-0.030449,0.009180

In [4]:
features = (user_features, posts_features, data)
user_features.head()

   user_id  gender  age country               city  exp_group       os source
0      200       1   34  Russia          Degtyarsk          3  Android    ads
1      201       0   37  Russia             Abakan          0  Android    ads
2      202       1   17  Russia           Smolensk          4  Android    ads
3      203       0   18  Russia             Moscow          1      iOS    ads
4      204       0   36  Russia  Anzhero-Sudzhensk          3  Android    ads

In [7]:
user_features = features[0].loc[features[0].user_id == 201]
user_features = user_features.drop("user_id", axis=1)
user_features

   gender  age country    city  exp_group       os source
1       0   37  Russia  Abakan          0  Android    ads

In [3]:
post_data = pd.read_sql(
    """SELECT * FROM public.post_text_df """,
    con=conn)
post_data.head()

   post_id                                               text     topic
0        1  UK economy facing major risks\n\nThe UK manufa...  business
1        2  Aids and climate top Davos agenda\n\nClimate c...  business
2        3  Asian quake hits European shares\n\nShares in ...  business
3        4  India power shares jump on debut\n\nShares in ...  business
4        5  Lacroix label bought by US firm\n\nLuxury good...  business

In [ ]:
ratio = data["target"].value_counts()[1] / data["target"].value_counts()[0] * 100
print(f"Positive class to negative class ratio is: {round(ratio, 2)}%")

# 2. Feature Extraction

In [ ]:
data.nunique()

In [ ]:
data.shape

### TF IDF transforming of topic texts

In [4]:
import re
import string

import nltk
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer

porter = PorterStemmer()
wnl = WordNetLemmatizer()
STOPWORDS = set(stopwords.words('english'))

def preprocessing(line, token=porter):
    line = line.lower()
    line = re.sub(r"[{}]".format(string.punctuation), " ", line)
    line = line.replace('\n\n', ' ').replace('\n', ' ')
    line = ' '.join([wnl.lemmatize(x) for x in line.split(' ')])
    line = ' '.join([word for word in line.split() if word not in STOPWORDS])
    line = ' '.join([token.stem(x) for x in line.split(' ')])
    return line


tfidf = TfidfVectorizer(preprocessor=preprocessing)

In [5]:
tfidf_data = (
    tfidf
    .fit_transform(post_data['text'])
    .toarray()
)

tfidf_data.shape

(7023, 35933)

In [6]:
tfidf_data = pd.DataFrame(
    tfidf_data,
    index=post_data.post_id,
    columns=tfidf.get_feature_names_out()
)

In [ ]:
tfidf_data.head()

### Decompose through SVD

In [7]:
from sklearn.decomposition import TruncatedSVD

svd = TruncatedSVD(n_components = 69)
svd_texts = svd.fit_transform(tfidf_data)
columns = [f"SVD_{i}" for i in range(0, svd_texts.shape[1])]
svd_texts = pd.DataFrame(data=svd_texts, columns=columns)
svd_texts.head()

,SVD_0,SVD_1,SVD_2,SVD_3,SVD_4,SVD_5,SVD_6,SVD_7,SVD_8,SVD_9,...,SVD_59,SVD_60,SVD_61,SVD_62,SVD_63,SVD_64,SVD_65,SVD_66,SVD_67,SVD_68
0,0.144598,0.127720,0.165153,-0.018751,-0.106465,-0.138568,0.241388,-0.116855,0.037479,-0.120092,...,-0.027962,-0.001623,-0.020337,-0.002202,0.052598,-0.020827,-0.038098,-0.007991,0.007010,-0.006334
1,0.179106,0.156255,0.187888,0.067152,0.043229,-0.033466,0.038985,0.020521,-0.020983,-0.029129,...,0.011068,0.010396,0.012700,0.028378,-0.053540,-0.028347,0.010531,-0.036390,0.018848,-0.031581
2,0.148952,0.101760,0.119559,-0.023431,-0.095791,-0.136440,0.161430,-0.094589,0.003805,-0.009528,...,0.037819,0.025957,-0.002094,0.009746,-0.066623,-0.073752,0.017350,-0.031218,0.011270,-0.010331
3,0.100664,0.095318,0.102661,-0.004557,-0.059734,-0.105082,0.078455,-0.034284,-0.014814,0.053966,...,-0.040279,0.026497,0.013740,0.011543,0.070482,-0.002659,0.012163,-0.010069,0.000785,0.017165
4,0.079008,0.054728,0.072207,-0.002478,-0.026706,-0.046023,0.009709,0.003000,-0.018124,0.031482,...,-0.011579,0.008799,0.009975,-0.013124,0.018852,0.005172,-0.047478,0.002118,-0.030449,0.009180

In [8]:
posts = post_data.join(svd_texts)
posts.head()

,post_id,text,topic,SVD_0,SVD_1,SVD_2,SVD_3,SVD_4,SVD_5,SVD_6,...,SVD_59,SVD_60,SVD_61,SVD_62,SVD_63,SVD_64,SVD_65,SVD_66,SVD_67,SVD_68
0,1,UK economy facing major risks\n\nThe UK manufa...,business,0.144598,0.127720,0.165153,-0.018751,-0.106465,-0.138568,0.241388,...,-0.027962,-0.001623,-0.020337,-0.002202,0.052598,-0.020827,-0.038098,-0.007991,0.007010,-0.006334
1,2,Aids and climate top Davos agenda\n\nClimate c...,business,0.179106,0.156255,0.187888,0.067152,0.043229,-0.033466,0.038985,...,0.011068,0.010396,0.012700,0.028378,-0.053540,-0.028347,0.010531,-0.036390,0.018848,-0.031581
2,3,Asian quake hits European shares\n\nShares in ...,business,0.148952,0.101760,0.119559,-0.023431,-0.095791,-0.136440,0.161430,...,0.037819,0.025957,-0.002094,0.009746,-0.066623,-0.073752,0.017350,-0.031218,0.011270,-0.010331
3,4,India power shares jump on debut\n\nShares in ...,business,0.100664,0.095318,0.102661,-0.004557,-0.059734,-0.105082,0.078455,...,-0.040279,0.026497,0.013740,0.011543,0.070482,-0.002659,0.012163,-0.010069,0.000785,0.017165
4,5,Lacroix label bought by US firm\n\nLuxury good...,business,0.079008,0.054728,0.072207,-0.002478,-0.026706,-0.046023,0.009709,...,-0.011579,0.008799,0.009975,-0.013124,0.018852,0.005172,-0.047478,0.002118,-0.030449,0.009180

In [9]:
posts.to_sql("bruhwalkk_post_features_22", con=conn)

In [ ]:
#posts = pd.read_sql("""SELECT * FROM bruhwalkk_posts_features_22 """,con=conn)

### Merging user n feeddata with processed posts info

In [ ]:
data['hour'] = pd.to_datetime(data['timestamp']).apply(lambda x: x.hour)
data['month'] = pd.to_datetime(data['timestamp']).apply(lambda x: x.month)
data['day'] = pd.to_datetime(data['timestamp']).apply(lambda x: x.day)

#data = data.sort_values("timestamp")

data = data.drop(["timestamp", "text"], axis=1)

In [ ]:
processed_df = pd.merge(data, posts, on=('post_id'), how='left').set_index(['user_id', 'post_id'])

X = processed_df.drop(['target'], axis=1)
y = processed_df["target"]

### Transform cat columns with MeanTarget n num columns with StandardScaler

In [ ]:
cat_cols = list(X.select_dtypes(include=["object"]).columns)
cat_cols

In [ ]:
num_cols = list(X.select_dtypes(exclude='object').columns)
num_cols

In [ ]:
from sklearn.compose import ColumnTransformer
from category_encoders import TargetEncoder
from sklearn.preprocessing import StandardScaler

t = [('MeanTargetEncoder', TargetEncoder(), cat_cols),
     ('StandardScaler', StandardScaler(), num_cols)]

col_transform = ColumnTransformer(transformers=t)

In [ ]:
X_transform = col_transform.fit_transform(X, y)
X_transform = pd.DataFrame(X_transform, columns = X.columns, index = X.index)
X_transform

# Training

In [ ]:
def train_test(X, y): 
    X_train = X.iloc[:-150000].copy()
    X_test = X.iloc[-150000:].copy()

    y_train = y.iloc[:-150000].copy()
    y_test = y.iloc[-150000:].copy()
    
    return X_train, X_test, y_train, y_test

In [ ]:
X_train, X_test, y_train, y_test = train_test(X_transform, y)

### Using catboost with 1500 iterations

In [ ]:
from catboost import CatBoostClassifier

catboost = CatBoostClassifier(random_seed=63, iterations=1500)

catboost.fit(X_train, y_train, verbose = 100, eval_set= (X_test, y_test), plot=True)

In [ ]:
import pickle
loaded_model1 = pickle.load(open("catboost_svd_T.pkl", 'rb'))

In [ ]:
from sklearn.metrics import roc_auc_score

print(f"Train ROC-AUC score: {roc_auc_score(y_train, loaded_model1.predict_proba(X_train)[:, 1])}")
print(f"Test ROC-AUC score: {roc_auc_score(y_test, loaded_model1.predict_proba(X_test)[:, 1])}")

In [ ]:
def plot_feature_importance(importance,names,model_type):
    
    #Create arrays from feature importance and feature names
    feature_importance = np.array(importance)[:20]
    feature_names = np.array(names)[:20]
    
    #Create a DataFrame using a Dictionary
    data={'feature_names':feature_names,'feature_importance':feature_importance}
    fi_df = pd.DataFrame(data)
    
    #Sort the DataFrame in order decreasing feature importance
    fi_df.sort_values(by=['feature_importance'], ascending=False,inplace=True)
    
    #Define size of bar plot
    plt.figure(figsize=(10,8))
    #Plot Searborn bar chart
    sns.barplot(x=fi_df['feature_importance'], y=fi_df['feature_names'])
    #Add chart labels
    plt.title(model_type + ' top 20 feature importance')
    plt.xlabel('Feature importance')
    plt.ylabel('Feature names')
    
#plot_feature_importance(loaded_model1.feature_importances_,X_train.columns,'Catboost')

In [ ]:
from sklearn.metrics import roc_curve, auc, classification_report, RocCurveDisplay

res = X_test.copy()
user_test = set([x[0] for x in X_test.index.values.tolist()])

res['pred_proba'] = loaded_model1.predict_proba(X_test)[:,1]
res['target'] = y_test

user_hit = []

for user in user_test:
    part = res.loc[user,:]
    part = part.sort_values('pred_proba', ascending = False)
    part = part.reset_index().iloc[:5, :]
    x = part["target"].sum()
    if x:
        user_hit.append(1)
    else:
        user_hit.append(0)
    
print(f"Среднее hitrate@5 по пользователям из теста: {np.mean(user_hit)}")

### Testing catboost without pre column transforming

In [ ]:
X_train, X_test, y_train, y_test = train_test(X, y)

In [ ]:
from catboost import CatBoostClassifier

catboost2 = CatBoostClassifier(random_seed=63, iterations=500, learning_rate = 0.02)

catboost2.fit(X_train, y_train, cat_features = ['gender', 'country', 'city', 'exp_group', 'os', 'source', 'topic'], verbose = 100, eval_set= (X_test, y_test), plot=True)

In [ ]:
from sklearn.metrics import roc_auc_score

print(f"Train ROC-AUC score: {roc_auc_score(y_train, catboost2.predict_proba(X_train)[:, 1])}")
print(f"Test ROC-AUC score: {roc_auc_score(y_test, catboost2.predict_proba(X_test)[:, 1])}")

In [ ]:
from sklearn.metrics import roc_curve, auc, classification_report, RocCurveDisplay

res = X_test.copy()
user_test = set([x[0] for x in X_test.index.values.tolist()])

res['pred_proba'] = catboost2.predict_proba(X_test)[:,1]
res['target'] = y_test

user_hit = []

for user in user_test:
    part = res.loc[user,:]
    part = part.sort_values('pred_proba', ascending = False)
    part = part.reset_index().iloc[:5, :]
    x = part["target"].sum()
    if x:
        user_hit.append(1)
    else:
        user_hit.append(0)
    
print(f"Среднее hitrate@5 по пользователям из теста: {np.mean(user_hit)}")

In [ ]:
users = set([x for x in data["user_id"].unique()])
part = data[data["user_id"] == 205]
part

In [ ]:
plot_feature_importance(catboost2.feature_importances_,X_train.columns,'Catboost')

In [ ]:
catboost2.save_model('catboost_svd2',
                           format="cbm")